body{
    background-color: #f7ecde;
    
}
.head{
    font-family: font-h1 ;
    font-size: 50px;
    width: fit-content;
    position: relative;

}
.head::after{
    content: "";
    position: absolute;
    /* width: 100%; */
    bottom: 0;
    left: 0;
    right: 0;
    top: 70%;
    background-color: #fec260;
    z-index: -1;
    transition: all 0.3s;

}
.head:hover::after{
    content: "";

    top: 35%;


}
.head2{
    font-family: font-h2 ;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.headBook,.inputField{
    border-bottom:dashed 1px black;
}
.form-control:focus {
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
}



@font-face {
    font-family: font-h1 ;
    src: url("Pacifico-Regular.ttf");
}
@font-face {
    font-family: font-h2 ;
    src: url("Righteous-Regular.ttf");
}

